/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 7, 2014, 7:16:08 AM
    Author     : peter-lap
*/
div {
    background: rgb(255,165,0);
    border-radius: 90px;
    border: 1px solid rgb(35,68,101);
    width: 95%;
    padding-right: 0px;
}
